## library used

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
## if you use google colab add the following library to read files in drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data=pd.read_csv('C:/Users/elnan/pollingData.csv')
data

             State   Yes    No  Total  PercentYes  PercentNo
0         Delaware   228   111    339        0.67       0.33
1       New Mexico   108    63    171        0.63       0.37
2   North Carolina   724   429   1153        0.63       0.37
3           Nevada   213   127    340        0.63       0.37
4             Ohio   988   607   1595        0.62       0.38
5          Arizona   332   204    536        0.62       0.38
6       Mississipi   242   151    393        0.62       0.38
7   South Carolina   235   148    383        0.61       0.39
8          Indiana   595   376    971        0.61       0.39
9         Maryland   512   326    838        0.61       0.39
10    South Dakota   116    74    190        0.61       0.39
11          Alaska    57    37     94        0.61       0.39
12        Oklahoma   409   266    675        0.61       0.39
13       Tennessee   402   264    666        0.60       0.40
14          Hawaii    44    29     73        0.60       0.40
15      California  1849  1220   3069        0.60       0.40
16         Florida   982   649   1631        0.60       0.40
17            Utah   234   155    389        0.60       0.40
18           Texas  1686  1125   2811        0.60       0.40
19        Kentucky   337   253    590        0.57       0.43
20          Oregon   658   446   1104        0.60       0.40
21        Missouri   601   409   1010        0.60       0.40
22   New Hampshire   273   187    460        0.59       0.41
23       Louisiana   275   189    464        0.59       0.41
24        Colorado   453   316    769        0.59       0.41
25    Pennsylvania  1619  1137   2756        0.59       0.41
26        Arkansas   385   271    656        0.59       0.41
27        Virginia   867   611   1478        0.59       0.41
28        Nebraska   170   122    292        0.58       0.42
29       Wisconsin   681   491   1172        0.58       0.42
30          Kansas   394   287    681        0.58       0.42
31        Michigan  1320   972   2292        0.58       0.42
32         Montana   167   125    292        0.57       0.43
33           Idaho   193   145    338        0.57       0.43
34      Washington  1006   758   1764        0.57       0.43
35    Rhode Island    91    69    160        0.57       0.43
36         Georgia   290   221    511        0.57       0.43
37        Illinois  1292   985   2277        0.57       0.43
38        New York  3163  2433   5596        0.57       0.43
39     Connecticut   665   512   1177        0.56       0.44
40       Minnesota   602   466   1068        0.56       0.44
41         Alabama   328   255    583        0.56       0.44
42         Wyoming   105    82    187        0.56       0.44
43            Iowa   445   357    802        0.55       0.45
44      New Jersey  1293  1039   2332        0.55       0.45
45   Massachusetts  1088   892   1980        0.55       0.45
46         Vermont   119   108    227        0.52       0.48
47           Maine   382   360    742        0.51       0.49
48   West Virginia   257   247    504        0.51       0.49
49    North Dakota    59    58    117        0.50       0.50

In [ ]:
data.tail() # Last 5 rows

            State   Yes   No  Total  PercentYes  PercentNo
45  Massachusetts  1088  892   1980        0.55       0.45
46        Vermont   119  108    227        0.52       0.48
47          Maine   382  360    742        0.51       0.49
48  West Virginia   257  247    504        0.51       0.49
49   North Dakota    59   58    117        0.50       0.50

In [ ]:
data.head() # First 5 rows

            State  Yes   No  Total  PercentYes  PercentNo
0        Delaware  228  111    339        0.67       0.33
1      New Mexico  108   63    171        0.63       0.37
2  North Carolina  724  429   1153        0.63       0.37
3          Nevada  213  127    340        0.63       0.37
4            Ohio  988  607   1595        0.62       0.38

In [ ]:
# Inspect the columns
data.columns

Index(['State', 'Yes', 'No', 'Total', 'PercentYes', 'PercentNo'], dtype='object')

In [ ]:
# Type of data
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.describe()

              Yes           No        Total  PercentYes  PercentNo
count    50.00000    50.000000    50.000000   50.000000  50.000000
mean    590.68000   423.280000  1013.960000    0.584600   0.415400
std     586.52743   434.370858  1019.245318    0.033025   0.033025
min      44.00000    29.000000    73.000000    0.500000   0.330000
25%     229.50000   145.750000   350.750000    0.570000   0.392500
50%     389.50000   268.500000   670.500000    0.590000   0.410000
75%     713.25000   506.750000  1175.750000    0.607500   0.430000
max    3163.00000  2433.000000  5596.000000    0.670000   0.500000

In [ ]:
data.isnull()

    State    Yes     No  Total  PercentYes  PercentNo
0   False  False  False  False       False      False
1   False  False  False  False       False      False
2   False  False  False  False       False      False
3   False  False  False  False       False      False
4   False  False  False  False       False      False
5   False  False  False  False       False      False
6   False  False  False  False       False      False
7   False  False  False  False       False      False
8   False  False  False  False       False      False
9   False  False  False  False       False      False
10  False  False  False  False       False      False
11  False  False  False  False       False      False
12  False  False  False  False       False      False
13  False  False  False  False       False      False
14  False  False  False  False       False      False
15  False  False  False  False       False      False
16  False  False  False  False       False      False
17  False  False  False  False       False      False
18  False  False  False  False       False      False
19  False  False  False  False       False      False
20  False  False  False  False       False      False
21  False  False  False  False       False      False
22  False  False  False  False       False      False
23  False  False  False  False       False      False
24  False  False  False  False       False      False
25  False  False  False  False       False      False
26  False  False  False  False       False      False
27  False  False  False  False       False      False
28  False  False  False  False       False      False
29  False  False  False  False       False      False
30  False  False  False  False       False      False
31  False  False  False  False       False      False
32  False  False  False  False       False      False
33  False  False  False  False       False      False
34  False  False  False  False       False      False
35  False  False  False  False       False      False
36  False  False  False  False       False      False
37  False  False  False  False       False      False
38  False  False  False  False       False      False
39  False  False  False  False       False      False
40  False  False  False  False       False      False
41  False  False  False  False       False      False
42  False  False  False  False       False      False
43  False  False  False  False       False      False
44  False  False  False  False       False      False
45  False  False  False  False       False      False
46  False  False  False  False       False      False
47  False  False  False  False       False      False
48  False  False  False  False       False      False
49  False  False  False  False       False      False

In [ ]:
data.Yes ## show table column

0      228
1      108
2      724
3      213
4      988
5      332
6      242
7      235
8      595
9      512
10     116
11      57
12     409
13     402
14      44
15    1849
16     982
17     234
18    1686
19     337
20     658
21     601
22     273
23     275
24     453
25    1619
26     385
27     867
28     170
29     681
30     394
31    1320
32     167
33     193
34    1006
35      91
36     290
37    1292
38    3163
39     665
40     602
41     328
42     105
43     445
44    1293
45    1088
46     119
47     382
48     257
49      59
Name: Yes, dtype: int64

In [ ]:
data["Yes"] ## 2nd method to display the table column

0      228
1      108
2      724
3      213
4      988
5      332
6      242
7      235
8      595
9      512
10     116
11      57
12     409
13     402
14      44
15    1849
16     982
17     234
18    1686
19     337
20     658
21     601
22     273
23     275
24     453
25    1619
26     385
27     867
28     170
29     681
30     394
31    1320
32     167
33     193
34    1006
35      91
36     290
37    1292
38    3163
39     665
40     602
41     328
42     105
43     445
44    1293
45    1088
46     119
47     382
48     257
49      59
Name: Yes, dtype: int64

In [ ]:
df1=data.dropna().drop(['PercentYes'],axis=1)
df1
##delete table column

             State   Yes    No  Total  PercentNo
0         Delaware   228   111    339       0.33
1       New Mexico   108    63    171       0.37
2   North Carolina   724   429   1153       0.37
3           Nevada   213   127    340       0.37
4             Ohio   988   607   1595       0.38
5          Arizona   332   204    536       0.38
6       Mississipi   242   151    393       0.38
7   South Carolina   235   148    383       0.39
8          Indiana   595   376    971       0.39
9         Maryland   512   326    838       0.39
10    South Dakota   116    74    190       0.39
11          Alaska    57    37     94       0.39
12        Oklahoma   409   266    675       0.39
13       Tennessee   402   264    666       0.40
14          Hawaii    44    29     73       0.40
15      California  1849  1220   3069       0.40
16         Florida   982   649   1631       0.40
17            Utah   234   155    389       0.40
18           Texas  1686  1125   2811       0.40
19        Kentucky   337   253    590       0.43
20          Oregon   658   446   1104       0.40
21        Missouri   601   409   1010       0.40
22   New Hampshire   273   187    460       0.41
23       Louisiana   275   189    464       0.41
24        Colorado   453   316    769       0.41
25    Pennsylvania  1619  1137   2756       0.41
26        Arkansas   385   271    656       0.41
27        Virginia   867   611   1478       0.41
28        Nebraska   170   122    292       0.42
29       Wisconsin   681   491   1172       0.42
30          Kansas   394   287    681       0.42
31        Michigan  1320   972   2292       0.42
32         Montana   167   125    292       0.43
33           Idaho   193   145    338       0.43
34      Washington  1006   758   1764       0.43
35    Rhode Island    91    69    160       0.43
36         Georgia   290   221    511       0.43
37        Illinois  1292   985   2277       0.43
38        New York  3163  2433   5596       0.43
39     Connecticut   665   512   1177       0.44
40       Minnesota   602   466   1068       0.44
41         Alabama   328   255    583       0.44
42         Wyoming   105    82    187       0.44
43            Iowa   445   357    802       0.45
44      New Jersey  1293  1039   2332       0.45
45   Massachusetts  1088   892   1980       0.45
46         Vermont   119   108    227       0.48
47           Maine   382   360    742       0.49
48   West Virginia   257   247    504       0.49
49    North Dakota    59    58    117       0.50

In [ ]:
df1=data.dropna().drop(['PercentYes',"Yes"],axis=1)
df1
##delete table columns

             State    No  Total  PercentNo
0         Delaware   111    339       0.33
1       New Mexico    63    171       0.37
2   North Carolina   429   1153       0.37
3           Nevada   127    340       0.37
4             Ohio   607   1595       0.38
5          Arizona   204    536       0.38
6       Mississipi   151    393       0.38
7   South Carolina   148    383       0.39
8          Indiana   376    971       0.39
9         Maryland   326    838       0.39
10    South Dakota    74    190       0.39
11          Alaska    37     94       0.39
12        Oklahoma   266    675       0.39
13       Tennessee   264    666       0.40
14          Hawaii    29     73       0.40
15      California  1220   3069       0.40
16         Florida   649   1631       0.40
17            Utah   155    389       0.40
18           Texas  1125   2811       0.40
19        Kentucky   253    590       0.43
20          Oregon   446   1104       0.40
21        Missouri   409   1010       0.40
22   New Hampshire   187    460       0.41
23       Louisiana   189    464       0.41
24        Colorado   316    769       0.41
25    Pennsylvania  1137   2756       0.41
26        Arkansas   271    656       0.41
27        Virginia   611   1478       0.41
28        Nebraska   122    292       0.42
29       Wisconsin   491   1172       0.42
30          Kansas   287    681       0.42
31        Michigan   972   2292       0.42
32         Montana   125    292       0.43
33           Idaho   145    338       0.43
34      Washington   758   1764       0.43
35    Rhode Island    69    160       0.43
36         Georgia   221    511       0.43
37        Illinois   985   2277       0.43
38        New York  2433   5596       0.43
39     Connecticut   512   1177       0.44
40       Minnesota   466   1068       0.44
41         Alabama   255    583       0.44
42         Wyoming    82    187       0.44
43            Iowa   357    802       0.45
44      New Jersey  1039   2332       0.45
45   Massachusetts   892   1980       0.45
46         Vermont   108    227       0.48
47           Maine   360    742       0.49
48   West Virginia   247    504       0.49
49    North Dakota    58    117       0.50

In [ ]:
df=data.filter(["Yes","No"])
df
##choose table columns

     Yes    No
0    228   111
1    108    63
2    724   429
3    213   127
4    988   607
5    332   204
6    242   151
7    235   148
8    595   376
9    512   326
10   116    74
11    57    37
12   409   266
13   402   264
14    44    29
15  1849  1220
16   982   649
17   234   155
18  1686  1125
19   337   253
20   658   446
21   601   409
22   273   187
23   275   189
24   453   316
25  1619  1137
26   385   271
27   867   611
28   170   122
29   681   491
30   394   287
31  1320   972
32   167   125
33   193   145
34  1006   758
35    91    69
36   290   221
37  1292   985
38  3163  2433
39   665   512
40   602   466
41   328   255
42   105    82
43   445   357
44  1293  1039
45  1088   892
46   119   108
47   382   360
48   257   247
49    59    58

## Statistical Measures

In [ ]:
col=data.Yes

In [ ]:
#Mean is the average
mean = np.mean(col)
mean

590.68

In [ ]:
# Median is the value of middlemost value
median = np.median(col)
median

389.5

In [ ]:
# Variance is a measure of how variable the data is
variance = np.var(col)
variance

337134.13759999996

In [ ]:
# Écart type
standard_deviation = np.std(col)
standard_deviation

580.6325323300443

In [ ]:
##Minimum value of the data
minimum_value = np.min(col)
minimum_value

44

In [ ]:
#Maximum value of the data
max_value = np.max(col)
max_value

3163

## Contact tables

In [ ]:
data1=pd.read_csv('C:/Users/elnan/goodEducation.csv')
data1

                   Content  YesCount  NoCount  PercentYes  PercentNo
0              My Teachers     18358    17065    0.518251   0.481749
1                    Other     12432     9130    0.576570   0.423430
2  Motivated and Work Hard     11918     8715    0.577618   0.422382
3          Size of Classes      3969     2154    0.648212   0.351788
4      Books and Resources      3790     2544    0.598358   0.401642

In [ ]:
all_data=pd.concat([data,data1],axis=1)
all_data

,State,Yes,No,Total,PercentYes,PercentNo,Content,YesCount,NoCount,PercentYes,PercentNo
0,Delaware,228,111,339,0.67,0.33,My Teachers,18358.0,17065.0,0.518251,0.481749
1,New Mexico,108,63,171,0.63,0.37,Other,12432.0,9130.0,0.576570,0.423430
2,North Carolina,724,429,1153,0.63,0.37,Motivated and Work Hard,11918.0,8715.0,0.577618,0.422382
3,Nevada,213,127,340,0.63,0.37,Size of Classes,3969.0,2154.0,0.648212,0.351788
4,Ohio,988,607,1595,0.62,0.38,Books and Resources,3790.0,2544.0,0.598358,0.401642
5,Arizona,332,204,536,0.62,0.38,NaN,NaN,NaN,NaN,NaN
6,Mississipi,242,151,393,0.62,0.38,NaN,NaN,NaN,NaN,NaN
7,South Carolina,235,148,383,0.61,0.39,NaN,NaN,NaN,NaN,NaN
8,Indiana,595,376,971,0.61,0.39,NaN,NaN,NaN,NaN,NaN
9,Maryland,512,326,838,0.61,0.39,NaN,NaN,NaN,NaN,NaN
10,South Dakota,116,74,190,0.61,0.39,NaN,NaN,NaN,NaN,NaN
11,Alaska,57,37,94,0.61,0.39,NaN,NaN,NaN,NaN,NaN
12,Oklahoma,409,266,675,0.61,0.39,NaN,NaN,NaN,NaN,NaN
13,Tennessee,402,264,666,0.60,0.40,NaN,NaN,NaN,NaN,NaN
14,Hawaii,44,29,73,0.60,0.40,NaN,NaN,NaN,NaN,NaN
15,California,1849,1220,3069,0.60,0.40,NaN,NaN,NaN,NaN,NaN
16,Florida,982,649,1631,0.60,0.40,NaN,NaN,NaN,NaN,NaN
17,Utah,234,155,389,0.60,0.40,NaN,NaN,NaN,NaN,NaN
18,Texas,1686,1125,2811,0.60,0.40,NaN,NaN,NaN,NaN,NaN
19,Kentucky,337,253,590,0.57,0.43,NaN,NaN,NaN,NaN,NaN
20,Oregon,658,446,1104,0.60,0.40,NaN,NaN,NaN,NaN,NaN
21,Missouri,601,409,1010,0.60,0.40,NaN,NaN,NaN,NaN,NaN
22,New Hampshire,273,187,460,0.59,0.41,NaN,NaN,NaN,NaN,NaN
23,Louisiana,275,189,464,0.59,0.41,NaN,NaN,NaN,NaN,NaN
24,Colorado,453,316,769,0.59,0.41,NaN,NaN,NaN,NaN,NaN
25,Pennsylvania,1619,1137,2756,0.59,0.41,NaN,NaN,NaN,NaN,NaN
26,Arkansas,385,271,656,0.59,0.41,NaN,NaN,NaN,NaN,NaN
27,Virginia,867,611,1478,0.59,0.41,NaN,NaN,NaN,NaN,NaN
28,Nebraska,170,122,292,0.58,0.42,NaN,NaN,NaN,NaN,NaN
29,Wisconsin,681,491,1172,0.58,0.42,NaN,NaN,NaN,NaN,NaN
30,Kansas,394,287,681,0.58,0.42,NaN,NaN,NaN,NaN,NaN
31,Michigan,1320,972,2292,0.58,0.42,NaN,NaN,NaN,NaN,NaN
32,Montana,167,125,292,0.57,0.43,NaN,NaN,NaN,NaN,NaN
33,Idaho,193,145,338,0.57,0.43,NaN,NaN,NaN,NaN,NaN
34,Washington,1006,758,1764,0.57,0.43,NaN,NaN,NaN,NaN,NaN
35,Rhode Island,91,69,160,0.57,0.43,NaN,NaN,NaN,NaN,NaN
36,Georgia,290,221,511,0.57,0.43,NaN,NaN,NaN,NaN,NaN
37,Illinois,1292,985,2277,0.57,0.43,NaN,NaN,NaN,NaN,NaN
38,New York,3163,2433,5596,0.57,0.43,NaN,NaN,NaN,NaN,NaN
39,Connecticut,665,512,1177,0.56,0.44,NaN,NaN,NaN,NaN,NaN
40,Minnesota,602,466,1068,0.56,0.44,NaN,NaN,NaN,NaN,NaN
41,Alabama,328,255,583,0.56,0.44,NaN,NaN,NaN,NaN,NaN
42,Wyoming,105,82,187,0.56,0.44,NaN,NaN,NaN,NaN,NaN
43,Iowa,445,357,802,0.55,0.45,NaN,NaN,NaN,NaN,NaN
44,New Jersey,1293,1039,2332,0.55,0.45,NaN,NaN,NaN,NaN,NaN
45,Massachusetts,1088,892,1980,0.55,0.45,NaN,NaN,NaN,NaN,NaN
46,Vermont,119,108,227,0.52,0.48,NaN,NaN,NaN,NaN,NaN
47,Maine,382,360,742,0.51,0.49,NaN,NaN,NaN,NaN,NaN
48,West Virginia,257,247,504,0.51,0.49,NaN,NaN,NaN,NaN,NaN
49,North Dakota,59,58,117,0.50,0.50,NaN,NaN,NaN,NaN,NaN