In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt ## the core data visualization library for displaying these graphically data.
from sklearn.datasets import load_iris

In [2]:
## if you use google colab add the following library to read files in drive
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore", category=DeprecationWarning)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data= pd.read_csv('/content/drive/MyDrive/pollingData.csv')
data

             State   Yes    No  Total  PercentYes  PercentNo
0         Delaware   228   111    339        0.67       0.33
1       New Mexico   108    63    171        0.63       0.37
2   North Carolina   724   429   1153        0.63       0.37
3           Nevada   213   127    340        0.63       0.37
4             Ohio   988   607   1595        0.62       0.38
5          Arizona   332   204    536        0.62       0.38
6       Mississipi   242   151    393        0.62       0.38
7   South Carolina   235   148    383        0.61       0.39
8          Indiana   595   376    971        0.61       0.39
9         Maryland   512   326    838        0.61       0.39
10    South Dakota   116    74    190        0.61       0.39
11          Alaska    57    37     94        0.61       0.39
12        Oklahoma   409   266    675        0.61       0.39
13       Tennessee   402   264    666        0.60       0.40
14          Hawaii    44    29     73        0.60       0.40
15      California  1849  1220   3069        0.60       0.40
16         Florida   982   649   1631        0.60       0.40
17            Utah   234   155    389        0.60       0.40
18           Texas  1686  1125   2811        0.60       0.40
19        Kentucky   337   253    590        0.57       0.43
20          Oregon   658   446   1104        0.60       0.40
21        Missouri   601   409   1010        0.60       0.40
22   New Hampshire   273   187    460        0.59       0.41
23       Louisiana   275   189    464        0.59       0.41
24        Colorado   453   316    769        0.59       0.41
25    Pennsylvania  1619  1137   2756        0.59       0.41
26        Arkansas   385   271    656        0.59       0.41
27        Virginia   867   611   1478        0.59       0.41
28        Nebraska   170   122    292        0.58       0.42
29       Wisconsin   681   491   1172        0.58       0.42
30          Kansas   394   287    681        0.58       0.42
31        Michigan  1320   972   2292        0.58       0.42
32         Montana   167   125    292        0.57       0.43
33           Idaho   193   145    338        0.57       0.43
34      Washington  1006   758   1764        0.57       0.43
35    Rhode Island    91    69    160        0.57       0.43
36         Georgia   290   221    511        0.57       0.43
37        Illinois  1292   985   2277        0.57       0.43
38        New York  3163  2433   5596        0.57       0.43
39     Connecticut   665   512   1177        0.56       0.44
40       Minnesota   602   466   1068        0.56       0.44
41         Alabama   328   255    583        0.56       0.44
42         Wyoming   105    82    187        0.56       0.44
43            Iowa   445   357    802        0.55       0.45
44      New Jersey  1293  1039   2332        0.55       0.45
45   Massachusetts  1088   892   1980        0.55       0.45
46         Vermont   119   108    227        0.52       0.48
47           Maine   382   360    742        0.51       0.49
48   West Virginia   257   247    504        0.51       0.49
49    North Dakota    59    58    117        0.50       0.50

In [4]:
data.head(2)

        State  Yes   No  Total  PercentYes  PercentNo
0    Delaware  228  111    339        0.67       0.33
1  New Mexico  108   63    171        0.63       0.37

In [6]:
# check the shape of the DataFrame (rows, columns)
data.shape

(50, 6)

## Preparing X and y

In [8]:
X = data[['Yes', 'No', 'PercentYes','PercentNo']]
X.head(2)

   Yes   No  PercentYes  PercentNo
0  228  111        0.67       0.33
1  108   63        0.63       0.37

In [10]:
# check the type and shape of X
print(type(X))
print(X.shape)

<class 'pandas.core.frame.DataFrame'>
(50, 4)

In [11]:
# check the type and shape of y
print(type(y))
print(y.shape)

<class 'pandas.core.series.Series'>
(50,)

In [9]:
y=data['Total']
y.head(2)

0    339
1    171
Name: Total, dtype: int64

## Splitting X and y into training and testing sets

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

## Linear regression

In [14]:
# import model
from sklearn.linear_model import LinearRegression

# instantiate
lr= LinearRegression()

# fit the model to the training data (learn the coefficients)
lr.fit(X_train, y_train)

LinearRegression()

In [16]:
# print the intercept and coefficients
print(lr.intercept_)
print(lr.coef_)

-2.2737367544323206e-13
[ 1.00000000e+00  1.00000000e+00  4.96048504e-14 -4.96048590e-14]

In [26]:
# make predictions on the testing set
y_pred = lr.predict(X_test)
y_pred

array([ 187., 1172.,  393.,  590.,  292.,  389., 1153.,  802.,  340.,
       1010.])